.menu {
    background-color: #fff;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
  
    
}



.container-fluid li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}
    a{
        text-decoration: none;
        color: #ffffff;
        text-align: center;
        padding: 0px 25px;
        transform: all 0.3s ease 0s;
            &:hover{
                color: #e70606;
                transform: all 0.8s ease 1s;
            }

}



.language {
    padding: 15px 15px ;
    display: flex;
    
}